<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout_frame.html">
<div layout:fragment="content">
    <div class="row">
        <div class="col-12">
            <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#addCarModal">
                + ADD CAR
            </button>
            <div class="modal fade" id="addCarModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <form th:action="@{'/add-car'}" method="post">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Add a new car</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-12">
                                        <label>NAME:</label>
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-12">
                                        <input type="text" class="form-control" name="name" required>
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-12">
                                        <label>YEAR:</label>
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-12">
                                        <input type="number" max="2023" min="1990" class="form-control" name="year" required>
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-12">
                                        <label>MAX SPEED:</label>
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-12">
                                        <input type="number" max="500" min="80" class="form-control" name="maxSpeed" required>
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-12">
                                        <label>PRICE:</label>
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-12">
                                        <input type="number" min="0" class="form-control" name="price" required>
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-12">
                                        <label>COUNTRY:</label>
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-12">
                                        <select class="form-select" name="country.id">
                                            <option th:each="country: ${countries}" th:value="${country.id}" th:text="${country.name + ' / '+ country.code}"></option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                <button class="btn btn-primary">Add car</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-12">
            <table class="table tale-striped table-hover">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>NAME</th>
                    <th>PRICE</th>
                    <th>YEAR</th>
                    <th>MAX SPEED</th>
                    <th>COUNTRY</th>
                    <th>DETAILS</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="car:${cars}">
                    <td th:text="${car.id}"></td>
                    <td th:text="${car.name}"></td>
                    <td th:text="${car.price}"></td>
                    <td th:text="${car.year}"></td>
                    <td th:text="${car.maxSpeed}"></td>
                    <td th:text="${car.country.name + ' / ' + car.country.code}"></td>
                    <td>
                        <a href="#" class="btn btn-primary btn-sm">DETAILS</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
</html>