<nav class="navbar navbar-expand-lg" style="background-color: #2ba26b">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">CRM система</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" href="/">Все заявки</a>
                <a class="nav-link" href="/unhandled">Новые заявки</a>
                <a class="nav-link" href="/handled">Обработанные заявки</a>
                <a class="nav-link btn" data-bs-toggle="modal" data-bs-target="#addRequestModal">+ Добавить заявку</a>
                <a>
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </a>
            </div>
        </div>
    </div>
</nav>

<div class="modal fade" id="addRequestModal" tabindex="-1" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form th:action="@{'/add-request'}" method="post">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Добавить новую заявку</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="form-label">ФИО:</label>
                        <input type="text" class="form-control" name="userName" placeholder="Введите ФИО">
                    </div>
                    <br><br>
                    <div class="form-group">
                        <label class="form-label">Курс:</label>
                        <select class="form-select" aria-label="Default select example" name="course.id">
                            <option th:each="course: ${courses}" th:value="${course.id}"
                                    th:text="${course.name}"></option>
                        </select>
                    </div>
                    <br><br>
                    <div class="form-group">
                        <label class="form-label">Телефон:</label>
                        <input type="tel" class="form-control" name="phone">
                    </div>
                    <br><br>
                    <div class="form-floating">
                        <label class="form-label">Комментарии:</label>
                        <textarea class="form-control" name="commentary"></textarea>
                    </div>
                    <br><br>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                    <button class="btn btn-primary">Добавить заявку</button>
                </div>
            </form>
        </div>
    </div>
</div>